@import 'src/app/scss/global-styling';

.feature-image {
    circle {
        fill: $light;
    }

    text {
        fill: $text-light
    }

    .center {
        fill: $text-dark;
    }
}

.reversed {
    circle {
        fill: $dark;
    }

    text {
        fill: $text-dark
    }

    .center {
        fill: $text-light;
    }
}