@import 'src/app/scss/global-styling';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;

    .chart {
        width: 100%;
    }

    .artist-list {
        margin-top: 5px;
        max-width: 1020px;
    }

    .load-more {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 10px);
        max-width: 1000px;
        height: 25px;
        margin: 0px 5px;
        background-color: $dark;
        color: $text-light;
        cursor: pointer;
    }

    @media (max-width: 1000px) {
        .load-more {
            max-width: 490px;
        }
    }
}