<div class="container">
  <div class="placeholder" *ngIf="!player">
    <span>There's nothing playing!</span>
  </div>
  <div class="playing" *ngIf="player">
    <img width="300px" height="300px" src="{{player.item.album.images | imageSize: 300}}"/>
    <div class="data">
      <div class="title">
        <span class="track-name">{{player.item.name}}</span>
        <span class="key-tempo">{{currentAudioFeatures?.key | pitchClass}} - {{currentAudioFeatures?.tempo | number: '1.0-0'}} bpm</span>
      </div>
      <div class="details">
        <span>{{player.item.artists[0].name}}</span>
        <span>{{player.item.album.name}}</span>
      </div>
      <div class="genres">
        <div class="genre-label" *ngFor="let genre of currentArtist?.genres">{{genre}}</div>
      </div>
      <div class="features" *ngIf="currentAudioFeatures != null">
        <app-feature-image [feature]="currentAudioFeatures.danceability" [label]="'dance'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.energy" [label]="'energy'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.speechiness" [label]="'speech'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.acousticness" [label]="'acoustic'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.instrumentalness" [label]="'instrumental'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.liveness" [label]="'live'"></app-feature-image>
        <app-feature-image [feature]="currentAudioFeatures.valence" [label]="'valence'"></app-feature-image>
      </div>     
    </div>    
  </div>
</div>
<app-play-history></app-play-history>
