@import 'src/app/scss/global-styling';

.track-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .placholder {
        height: calc(100vh - 286px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .track-list {     
        margin-top: 5px;   
        max-width: 1010px;
        width: 100%;
    }
}