<div class="artist-card">
  <div class="top">
    <img width="64" height="64" src="{{artist.images | imageSize: 64}}"/>
    <div class="data">
      <span>{{artist.name}}</span>
      <span>Popularity: {{artist.popularity}}</span>
      <span>Followers: {{artist.followers.total}}</span>
    </div>
    <div class="rank" *ngIf="rank">
      <span>{{rank}}</span>
    </div>
  </div>
  <div class="bottom">
    <div class="genres">
      <div class="genre-label" *ngFor="let genre of artist.genres">{{genre}}</div>
    </div>
  </div> 
</div>