@import 'src/app/scss/colors';

.artist-card {
    display: flex;
    flex-direction: column;        
    margin: 10px;
    background-color: $dark;
    color: $text-light;
    width: 500px;

    .top {
        display: flex;
        flex-direction: row;

        .data {
            display: flex;
            flex-direction: column;
            margin: 2px 10px;
            min-width: 200px;

            span {
                margin: 1px 0px;
            }
        }
    }

    .bottom {
        padding: 2px;

        .genres {
            display: flex;
            flex-wrap: wrap;

            .genre-label {
                margin: 2px;
                padding: 0px 5px;
                background-color: $light;
                color: $dark;
                border-radius: 3px;
            }
        }
    }    
}
