@import 'src/app/scss/global-styling';

.container {
    display: flex;
    background-color: $dark;
    height: 200px;
    width: 100%;
    
    .chart {
        display: flex;
        overflow-x: scroll;

        .bars {
            display: flex;

            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 0px 1px;
                text-align: center;

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    margin-right: 0px;
                }

                .bar {
                    display: flex;
                    background-color: $light;
                    width: 100%;
                    height: 0px;
                }

                .label {
                    margin: 1px 3px;
                    font-size: 12px;
                    color: $text-light;
                    height: fit-content;
                }
            }
        }
    }
}

.reversed {
    background-color: $light;

    .chart .bars .column {
        .label {
            color: $text-dark;
        }

        .bar {
            background-color: $dark;
        }
    }
}