@import 'src/app/scss/global-styling';

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    height: 60px;
    background-color: $dark;
    color: $text-light;
    align-items: center;

    .logo {
        span {
            font-size: 20px;
        }
    }

    .menu {
        display: none;
        margin-right: 50px;
        
        .item {
            padding: 0px 5px;
            border-right: 1px solid $light;

            &:hover {
                cursor: pointer;
            }

            &:last-child {
                border: none;
            }
        }
    }

    @media (min-width: 500px) {
        .hamburger {
            display: none;
        }

        .menu {
            display: flex;
        }
    }
}

.hamburger {
    height: 60px;
    width: 60px;

    .stripes {
        height: 30px;
        width: 30px;
        margin: 15px;
        background: linear-gradient(
            to bottom, 
            white, white 20%, 
            black 20%, black 40%, 
            white 40%, white 60%, 
            black 60%, black 80%, 
            white 80%, white 100%
        );
    }    
}

.ham-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    width: calc(100% - 20);
    background-color: $dark;
    color: $light;
    text-align: right;
    height: 0px;
    overflow: hidden;
    transition-duration: 250ms;

    a {
        margin-right: 10px;
        line-height: 30px;
    }
}

.open {
    visibility: visible;   
    height: 90px;
}