<div class="header">
  <div class="logo">
    <img />
    <span>Plotify</span>
  </div>
  <div class="menu">
    <div class="item"><a (click)="router.navigate(['/top-artists'])">Your top artists</a></div>
    <div class="item">Your library</div>
    <div class="item">Your playlists</div>    
  </div>  
  <div class="hamburger hampart" (click)="open=!open">
    <div class="stripes hampart"></div>
  </div>
</div>
<div [ngClass]="{'open': open}" class="ham-menu">
  <div class="ham-item"><a (click)="router.navigate(['/top-artists'])">Your top artists</a></div>
  <div class="ham-item">Your library</div>
  <div class="ham-item">Your playlists</div>    
</div>