@import 'src/app/scss/global-styling';

.track-card {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    background-color: $dark;
    color: $text-light;
    width: 100%;

    .track-info {
        display: flex;
        flex-direction: column;
        padding: 5px;
        flex-grow: 1;
        width: 225px;
        justify-content: space-between;

        .top-row {
            display: flex;
            justify-content: space-between;

            .title {
                margin-bottom: 10px;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .tempo {
                height: fit-content;
                font-size: 12px;
            }
        }                

        .bottom-row {
            display: flex;
            justify-content: space-between;
            font-size: 12px;

            span {
                max-width: 50%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }                
    }

    .audio-features {
        display: flex;
        align-items: center;
        border-left: 1px solid $light;
        padding: 2px;
        width: 401px;
        overflow-x: auto;

        app-feature-image {
            min-width: 56px;
        }
    }
}

.small {
    flex-direction: column;
    
    .track-info {
        width: unset;
    }

    .audio-features {
        border: none;
        justify-content: space-between;
        width: unset;
    }
}

@media (max-width: 600px) {
    .track-card {
        flex-direction: column;
        
        .track-info {
            width: unset;
        }

        .audio-features {
            border: none;
            justify-content: space-between;
            width: unset;
        }
    }
}