@import 'src/app/scss/colors';

.container {
    display: flex;
    background-color: $dark;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 1px solid $light;
    height: 225px;

    .playlist-card {
        display: flex;
        flex-direction: column;
        margin: 5px;
        background-color: $light;
        color: $text-dark;
        text-align: center;
        transition-duration: 250ms;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }

        .name {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: center;
            font-size: 14px
        }

        .tracks {
            text-align: right;
            font-size: 12px;
            margin-right: 2px;
        }

        &:hover {
            cursor: pointer;
            transform: translateY(5px);
        }
    }

    .selected {
        transform: translateY(5px);
    }
}

.details-container {
    display: flex;
    justify-content: center;

    .playlist-details {
        display: flex;
        width: 100%;
        max-width: 1000px;        

        .bar-chart {
            width: 100%;
            max-width: 594px;
        }        

        .feature-info {
            display: flex;
            align-self: flex-end;
            border-left: 1px solid $light;
            padding: 2px;
            margin-bottom: 17px;
            width: 401px;
            background-color: $dark;
            height: fit-content;

            app-feature-image {
                width: 16.6%;
                max-width: 60px;
            }
        }
    }
}


.track-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .placholder {
        height: calc(100vh - 286px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .track-list {     
        margin-top: 5px;   
        max-width: 1010px;
        width: 100%;

        .track-card {
            display: flex;
            justify-content: space-between;
            margin: 5px;
            background-color: $dark;
            color: $text-light;

            .track-info {
                display: flex;
                flex-direction: column;
                padding: 5px;
                flex-grow: 1;
                width: 225px;

                .top-row {
                    display: flex;
                    justify-content: space-between;

                    .title {
                        margin-bottom: 10px;
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .tempo {
                        height: fit-content;
                        font-size: 12px;
                    }
                }                

                .bottom-row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;

                    span {
                        max-width: 50%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }                
            }

            .audio-features {
                display: flex;
                align-items: center;
                border-left: 1px solid $light;
                padding: 2px;
                width: 401px;

                app-feature-image {
                    width: 16.6%;
                    max-width: 60px;
                }
            }
        }

        @media (max-width: 600px) {
            .track-card {
                flex-direction: column;
                
                .track-info {
                    width: unset;
                }

                .audio-features {
                    border: none;
                    justify-content: space-between;
                    width: unset;
                }
            }
        }
    }
}