<div class="container">
  <div class="playlist-card" 
    *ngFor="let playlist of playlists"
    (click)="openPlaylist(playlist)"
    [ngClass]="{'selected': selectedPlaylist === playlist}">
    <img width="150px" height="150px" src="{{playlist.images | imageSize: 150}}"/>
    <span class="name">{{playlist.name}}</span>
    <span class="tracks">{{playlist.tracks.total}} tracks</span>
  </div>
</div>
<app-bar-chart class="chart"
  [items]="weightedGenres">
</app-bar-chart>
<div class="track-container">
  <div class="placholder" *ngIf="selectedPlaylist == null">
    <span>Select a playlist!</span>
  </div>
  <div class="track-list" *ngIf="selectedPlaylist != null">
    <div class="track-card" *ngFor="let trackItem of selectedPlaylist.fullTracks">
      <div class="track-info">
        <span class="title">{{trackItem.track.name}}</span>
        <div class="bottom-row">
          <span class="artist-names">{{getArtistNameString(trackItem.track.artists)}}</span>
          <span>{{trackItem.track.album.name}}</span>
        </div>        
      </div>
      <div class="audio-features" *ngIf="trackItem.audioFeatures">
        <app-feature-image [feature]="trackItem.audioFeatures.danceability" [label]="'dance'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.energy" [label]="'energy'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.speechiness" [label]="'speech'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.acousticness" [label]="'acoustic'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.instrumentalness" [label]="'instrumental'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.liveness" [label]="'live'"></app-feature-image>
      </div>
    </div>
  </div>
</div>