<app-playlist-carousel (selectPlaylist)="openPlaylist($event)"></app-playlist-carousel>
<app-playlist-details *ngIf="selectedPlaylist != null"
  [tracks]="tracksInPlaylist"
  [allArtists]="allArtists"></app-playlist-details>

<div class="track-container">
  <div class="placholder" *ngIf="selectedPlaylist == null">
    <span>Select a playlist!</span>
  </div>
  <div class="track-list" *ngIf="selectedPlaylist != null">
    <div class="track-card" *ngFor="let trackItem of selectedPlaylist.fullTracks">
      <div class="track-info">
        <div class="top-row">
          <span class="title">{{trackItem.track.name}}</span>
          <span class="tempo">{{trackItem.audioFeatures?.key | pitchClass}} - {{trackItem.audioFeatures?.tempo | number: '1.0-0'}} bpm</span>
        </div>
        <div class="bottom-row">
          <span class="artist-names">{{getArtistNameString(trackItem.track.artists)}}</span>
          <span>{{trackItem.track.album.name}}</span>
        </div>        
      </div>
      <div class="audio-features" *ngIf="trackItem.audioFeatures">
        <app-feature-image [feature]="trackItem.audioFeatures.danceability" [label]="'dance'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.energy" [label]="'energy'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.speechiness" [label]="'speech'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.acousticness" [label]="'acoustic'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.instrumentalness" [label]="'instrumental'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.liveness" [label]="'live'"></app-feature-image>
        <app-feature-image [feature]="trackItem.audioFeatures.valence" [label]="'valence'"></app-feature-image>
      </div>
    </div>
  </div>
</div>