<app-menu (search)="search($event)"></app-menu>
<div class="results">
    <div class="list">
        <span>Artists</span>
        <!-- <div class="card" *ngFor="let artist of artists">
            <div class="top">
                <img width="64" height="64" src="{{artist.images | imageSize: 64}}"/>
                <div class="data">
                    <span>{{artist.name}}</span>
                    <span>Popularity: {{artist.popularity}}</span>
                    <span>Followers: {{artist.followers.total}}</span>
                </div>
            </div>            
            <div class="bottom"></div>
        </div> -->
        <app-artist-card *ngFor="let artist of artists" [artist]="artist"></app-artist-card>
    </div>
    <div class="list">
        <span>Tracks</span>
        <app-track-card *ngFor="let track of tracks" [track]="track" [small]="true"></app-track-card>
    </div>
    <div class="list">
        <span>Albums</span>
        <div class="card" *ngFor="let album of albums">
            <div class="top">
                <img width="64" height="64" src="{{album.images | imageSize: 64}}"/>
                <div class="data">
                    <span>{{album.name}}</span>
                </div>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</div>
